@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["ShouwAlert"] != null && (bool) ViewData["ShowAlert"] == true)
 {
    int i = 1 + 1;
    <div class="alert alert-success" role="alert">
        ขอขอบคุณ คุณ@(ViewData["Name"]) ทางเราจะติดต่อกลับไปที่@(ViewData["Email"])
    </div>
    <text>
        ขอบคุณครับ @ViewData["ShowAlert"]
    </text>
    @:ข้อความนี้เป็นข้อความใน HTML ไม่ใช่ C#
 }
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>